<template>
  <div class="logo-player" :style="{ 'background-image':`url(${require('@/assets/images/' + numberPlay.image)}`}"></div>
</template>
<script>
  export default {
    props: {
      numberPlay: {
        type:[Number,String,Object,]
      }
    },
  }
</script>
<style scoped>
  .logo-player {
    background-size: 40px;
    height: 20%;
    width: 20%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
</style>