<template>
  <div class="container-body">
    <h1>Người chơi thứ {{playerPlaying + 1}}</h1>
    <div class="container">
      <road-screen v-for="(index) in numberPlayers.numberSteps" :key="index" :listPlayers="listPlayers" :positionRoad="index">
      </road-screen>
    </div>
    <div>
      <div class="dice-face"
           @click="diceNumber()"
           :style="{ 'background-image':`url(${require('@/assets/images/diceFace/' + tweened.toFixed() + '.png')}`}">
      </div>
      <h1 v-if="isEnded">Người chơi {{playerPlaying + 1}} win</h1>
    </div>
  </div>
</template>

<script>
  import RoadScreen from "./RoadScreen"
  import gsap from 'gsap'
  export default {
    props: {
      numberPlayers:{
        type: Object
      }
    },
    components:{
      RoadScreen,
    },
    data() {
      return {
        dice: 1,
        tweened: 6,
        playerPlaying: 0,
        listPlayers: {},
        isEnded: false,
      }
    },
    // watch: {
    //   dice(n) {
    //     gsap.to(this, { duration: 0.3, tweened: Number(n) || 1 || 2 || 3 || 4 || 5 || 6})
    //   }
    // },
    created() {
      this.init();
    },
    computed: {
    
    },
    methods: {
      init() {
        for (let i = 0; i < this.numberPlayers.numberPlayers; i++) {
          this.listPlayers[i] = {
            'id' : i + 1,
            'name' : 'person ' + (i+1),
            'status': 'playing',
            'position' : 1,
            'image' : i + '.png'
          };
        }
      },
      // eslint-disable-next-line vue/return-in-computed-property
      diceNumber() {
        if (this.isEnded) return
        this.dice = Math.floor(Math.random() * 6 + 1);
        gsap.to(this, { duration: 0.3, tweened: Number(this.dice) || 1 || 2 || 3 || 4 || 5 || 6})
        if (this.listPlayers[this.playerPlaying]['position'] + this.dice <= this.numberPlayers.numberSteps ) {
          this.listPlayers[this.playerPlaying]['position'] += this.dice;
        }
        this.checkWin()
        this.playerPlaying++;
        if (this.playerPlaying >= Object.keys(this.listPlayers).length) {
          this.playerPlaying = 0;
        }
      },
      
      checkWin() {
        if (this.listPlayers[this.playerPlaying]['position'] === this.numberPlayers.numberSteps ) {
          this.isEnded = true;
        }
      }
      
    }
  }
</script>

<style scoped>
  .container{
    display: flex;
  }
  .dice-face {
    background-size: 40px;
    height: 200px;
    width: auto;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
</style>