<template>
  <div class="container">
    <div class="road">
      <player-people v-for="(numberPlay) in listPlayers"
                     :key="numberPlay"
                     :class="{ isHide: !checkPositionRoad(numberPlay.position) }"
                     :numberPlay="numberPlay">
      </player-people>
    </div>
  </div>
</template>

<script>
import PlayerPeople from "./PlayerPeople"
export default {
  components: {
    PlayerPeople,
  },
  props: {
    listPlayers:{
      type: Object
    },
    positionRoad: {
      type: Number
    }
  },
  methods: {
    // eslint-disable-next-line vue/return-in-computed-property
    checkPositionRoad(position) {
      return position === this.positionRoad;
    }
  }
}
</script>
<style scoped>
  .road {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 5px;
  }
  .isHide {
    display: none;
  }
</style>