<template>
  <div>
    <h1>Game xúc xắc rồi đi</h1>
    <label for="numberPlayers">Chọn số người chơi: </label>
    <input type="number" name="numberPlayers" id="numberPlayers" v-model="numberPlayers">
    <label for="numberStep">Chọn số nước đi</label>
    <input type="number" id="numberStep" v-model="numberSteps">
    <button @click="$emit('onPlay', {'numberPlayers': this.numberPlayers,'numberSteps': this.numberSteps})">Oke Play</button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      numberPlayers: 2,
      numberSteps: 20,
    }
  },
}
</script>