<template>
  <set-up-game v-if="statusMatch === 'setUp'" @onPlay="OnPlay($event)"/>
  <play-game v-if="statusMatch === 'play'" :numberPlayers="numberPlayers" :numberSteps="numberSteps"/>
  <h1>5</h1>
</template>

<script>
import SetUpGame from './components/SetUpGame.vue'
import PlayGame from './components/PlayGame.vue'

export default {
  name: 'App',
  components: {
    SetUpGame,
    PlayGame,
  },
  data() {
    return {
      statusMatch: 'setUp',
      numberPlayers: 0,
      numberSteps: 20,
    }
  },
  methods: {
    OnPlay(numberPlayers, numberSteps) {
      this.numberPlayers = numberPlayers;
      this.numberSteps = numberSteps;
      this.statusMatch = 'play'
    }
  }
  
}
</script>

